.blacksmith.ncfm
    .ncfm__background#dowhat-background
        img(src="../../../assets/images/Ripped_White_Paper_8 6.png")
        img(src="../../../assets/images/Ripped_White_Paper_8 14.png")
        //- .ncfm__back.ncfm__back--1
        //- .ncfm__back.ncfm__back--1
        img(src="../../../assets/images/Ripped_White_Paper_8 6.png", style="transform: rotate(180deg);")
    img.ncfm__desc#blacksmith-curves(src="../../../assets/svg/blacksmith/curves.svg")
    .ncfm__content 
        h2.ncfm__title Кузница ученых
            span(style="color: #126B89") <wbr> высшей квалификации
        .ncfm__block 
            .ncfm__item В процессе обучения студенты начинают принимать участие в исследованиях ВНИИЭФ и проводить собственные эксперименты. В дальнейшем многие останутся работать во здесь же, в Ядерном центре. Другие устроятся в «Росатом» или продолжат научную деятельность в рамках проектов НЦФМ.
        .ncfm__quoting.ncfm__quoting--1.quoting
             .quoting__title Приятный бонус в том, что тут мы живем жизнь.
        .ncfm__block
            .ncfm__item 
                em «Я рассматривал МФТИ, МИФИ, “Сколтех” и МГУ Саров. Думал, что поступить в Саров — нереальная задача. Представлял его чем-то закрытым, окутанным тайной. Сотрудничество с ВНИИЭФ добавляло шарма»,
                | — говорит Михаил Турбылев.
        .ncfm__block.ncfm-image#lhc
            img.ncfm__desc#blacksmith-pluses(src="../../../assets/svg/blacksmith/pluses.svg")
            img.ncfm__img.ncfm__img--desctop(src="../../../assets/images/blacksmith/lhc.jpg")
            img.ncfm__img.ncfm__img--mobile(src="../../../assets/images/blacksmith/lhc-m.jpg")
        .ncfm__block
            .ncfm__item Желание работать в отрасли — одна из приоритетных мотиваций для поступления в МГУ Саров. Для студентов проводят технические туры по предприятиям, приглашают участвовать и выступать спикерами на различных мероприятиях. В общем, с головой вовлекают в интересующую их отрасль и проекты НЦФМ.
        .ncfm__block.big-blue-square__root#after-lhc
            img.ncfm__desc#double-circle(src="../../../assets/svg/blacksmith/mgu-saratov-double-circle.svg")
            .ncfm__block.big-blue-square
                .ncfm__item 
                    em «Сейчас мы с ребятами полностью погружены в учебный процесс. Обычно у нас есть только один день для отдыха, скучать особо некогда. Поэтому обещание "Будет сложно, но очень интересно" в силе», 
                    | — рассказывает Владислав Филиппов.
                .ncfm__item 
                    em «Я переехала ради научной работы. А сейчас, со временем погружаясь в проекты НЦФМ, в жизнь Сарова, понимаю, что даже без “научки” останусь здесь. Это невероятное место, каждый, кто внес какой-либо вклад в создание филиала, он оставил часть своей души — это точно, — рассказывает 
                        strong Виталия Кулешова. 
                        | — Похоже на детский лагерь, но с жесткой ответственностью за то, что ты должен строго выполнять учебный план. Наверное, так в любой магистратуре. Но приятный бонус в том, что мы тут живем жизнь».
        .ncfm__block 
            .ncfm__item Современная фундаментальная наука и быстро развивающиеся вычислительные технологии требуют взаимодействия специалистов из разных областей — и с разных этапов карьерного пути.
            .ncfm__item 
                em «Мы очень надеемся, что здесь будут выращены и привлечены к работе Зельдовичи, Сахаровы, Таммы. И это очень здорово, потому что они тоже были молодыми ребятами, когда начинали в Сарове, когда создавали Ядерный центр», 
                | — комментирует 
                em Борис Шарков, 
                | сопредседатель научно-технического совета Национального центра физики и математики (Дубна).
            .ncfm__item 
                strong Универсиады МГУ Сарова 
                | пройдут в начале года. Следить за событиями можно 
                a(href="#") в календаре мероприятий МГУ 
                | (регистрация начнется 1 декабря).