.ncfm.choice
    .ncfm__background#choice-background
        .ncfm__back
        
        //- .ncfm__back.ncfm__back--1
        //- .ncfm__back.ncfm__back--1
    img.ncfm__desc#choice-science(src="../../../assets/svg/choice/science-circle.svg")
    img.ncfm__desc#choice-formula(src="../../../assets/svg/choice/ds-do.svg")
    .ncfm__content 
        h2.ncfm__title Студенты о 
            span(style="color: #126B89") выборе
        .ncfm__block 
            .ncfm__item «Мне тяжело было определиться с направлением: и физика нравилась, и программистом хотелось быть. Но я понял, что могу работать в смежных областях. Мне не приходится отказываться от чего-то, мы изучаем математику, программирование и затрагиваем некоторые области физики — гидродинамику и газодинамику. На бакалавриате я изучал фундаментальную информатику, а теперь буду изучать прикладную»,
            .ncfm__item  — Рассказывает первокурсник-магистрант Михаил Турбылев, окончивший радиофизический факультет Нижегородского государственного университета им. Н.И. Лобачевского.
            .ncfm__item Студент Егор Андронов из Нижегородского государственного технического университета им. Р. Е. Алексеева тоже выбрал эту специализацию, потому что хочет работать на стыке наук: 
            .ncfm__item «Я считаю, что математик должен разбираться в области, в которой применяет свой математический аппарат. Но произвести правильные расчеты, а еще, желательно, сделать это быстро, на мой взгляд, тоже необходимое условие научного результата. А так как расчеты требуются во всех сферах, то изучение общих принципов<wbr>и новейших технологий вычислительной математики и математического моделирование — шанс поработать не в одной узкой области физики, а во множестве интересных областей».
        .ncfm__block
            img.ncfm__img#Rutherford(src="../../../assets/images/choise/Rutherford.png")
            img.ncfm__img#choice-quotes(src="../../../assets/svg/choice/quotes.svg")
        .ncfm__block
           .ncfm__item На последней специализации — 
                strong «суперкомпьютерные технологии и фундаментальная информатика» — 
                |готовят ученых, которые смогут разрабатывать для выпускников программы «вычислительные методы и методика моделирования» системное и программное обеспечение. Огромные объемы данных требуют навыков интеллектуального анализа, а сложные вычисления — мощности суперкомпьютерных систем. Студенты занимаются этими вопросами как в теории, так и на практике.
        .ncfm__block.ncfm-image#choice-image 
            img.ncfm__img.ncfm__img--desctop(src="../../../assets/images/choise/image-desc.jpg")
            img.ncfm__img.ncfm__img--mobile(src="../../../assets/images/choise/image.jpg")
        .ncfm__block
            .ncfm__item «Учеба здесь отличается от учебы в стандартном вузе. Прежде всего преподаватели приезжают к нам на неделю или две, и дисциплины читаются блоками, к этому пришлось привыкать», — добавляет 
                strong Егор Андронов. 
                |Кстати, вдальнейшем он собирается поступать в аспирантуру МГУ Саров.
            .ncfm__item «Пар много, но ни одна из них мне не кажется скучной. Что действительно удивляет, так это актуальность получаемых знаний и понимание того, где и как они применяются», — делится впечатлениями 
                strong Михаил Турбылев.