.comfort.ncfm
    //- img.ncfm__desc#choice-science(src="../../../assets/svg/choice/science-circle.svg")
    .ncfm__content 
        h2.ncfm__title Со всей России — в уютный
            span(style="color: #249788") <wbr> академгородок
        .ncfm__block#comfort-buildings
            img.ncfm__img.ncfm__shift(src="../../../assets/images/comfort/img.png")
        .ncfm__block 
            .ncfm__item Живут студенты в удобных таунхаусах и апарт-комплексе. При желании магистранты приезжают с мужьями, женами и детьми. Семьям с ребенком выделяется отдельный дом. В таунхаусах ежедневно проводится уборка. На территории кампуса есть кафе, круглосуточный магазин и спортивная площадка. Все в шаговой доступности. Работает высокоскоростной бесшовный Wi-Fi. В учебном корпусе помимо аудиторий, научных лабораторий и компьютерных классов есть конференц-зал и коворкинг.
            .ncfm__item «Тут очень хорошее техническое оснащение: в каждой аудитории есть электронная доска, стоит самая современная техника. Для учебы выдали планшет. Как показала практика, для чтения это незаменимая вещь, — описывает 
                strong Егор Андронов. 
                |— Высокая стипендия (прим. ред. — 55 тысяч рублей для магистрантов и 75 тысяч для аспирантов ), свежий воздух, много чего приятного. И хочется отметить атмосферу, тут она действительно способствует концентрации на науке».
        .ncfm__block.ncfm-image
            img.ncfm__img.ncfm__img--desctop(src="../../../assets/images/comfort/houses.jpg")
            img.ncfm__img.ncfm__img--mobile(src="../../../assets/images/comfort/houses-m.jpg")
        .ncfm__block 
            .ncfm__item И речь не только об учебе, но и о внеучебной жизни. Здесь приветствуется проактивность. Студенты организуют клубы, записывают подкасты, устраивают друг другу семинары. Как рассказывает Виталия, у них даже есть «клуб любителей мерзнуть по ночам» — ребята ходят изучать астрономию.
            .ncfm__item Учиться в Саров приезжают со всей России. В этом году магистранты из Казани, Нижнего Новгорода, Екатеринбурга, Новосибирска и Томска. Одно из главных преимуществ МГУ Саров —  перспективы трудоустройства.
        img#phasa(src="../../../assets/images/comfort/phasa.png")