.curriculum
    .curriculum__container 
        .curriculum__direction.direction 
            .direction__left
                .direction__value 3
                .direction__caption направления <wbr>подготовки
            .direction__right
                img.direction__icon(src="../../../assets/svg/сurrriculum/icon.svg")
        .curriculum__learning 
            h2.curriculum__title Программы обучения
            .curriculum__context
                strong Обучение в МГУ Саров ведется по шести магистерским образовательным программам в рамках трех направлений подготовки:
                ul.curriculum__list
                    each i in curriculum
                        li.list-item= i
        img.curriculum__img.curriculum__img--1(src="../../../assets/images/curriculum/1.png")
        .curriculum__learning
            .curriculum__context На программе 
                strong «теоретическая физика» 
                |готовят астрофизиков, космологов, теоретиков физической кинетики и специалистов по ядерным технологиям в энергетике, медицине и других практических областях.
            .curriculum__context На 
                strong «лазерной нелинейной оптике и фотонике» 
                |учат разбираться в свете: как его генерировать, моделировать и детектировать для того, чтобы создавать новые материалы, устройства и технологии, которые пригодятся в работе с информацией на основе фотонов.
        img.curriculum__img.curriculum__img--2(src="../../../assets/images/curriculum/2.png")
        .curriculum__learning
            .curriculum__context Со светом учатся обращаться и студенты программы 
                strong «экстремальные электромагнитные поля, релятивистская плазма и аттосекундная физика».
                | Отличие в том, что они изучают мощное лазерное излучение и его взаимодействие с плазмой.
        //- .curriculum__learning
        //-     .curriculum__scrap 
        //-         img.curriculum__scrap-image(src="../../../assets/svg/сurrriculum/scrap.svg")
        //-         img.curriculum__quotes(src="../../../assets/svg/сurrriculum/quotes.svg")
        //-         .curriculum__context По словам Владислава Филиппова, <wbr>студента «теоретической физики», 
        //-         .curriculum__context значительную роль в выборе сыграла активная и интересующая его учебная программа, тема научной работы и научный руководитель, с которым Владиславу повезло пообщаться еще до сдачи вступительных экзаменов.
        //- img.curriculum__virus(src="../../../assets/images/curriculum/virus.png")