.ncfm.dowhat
    .ncfm__background#dowhat-background
        //- .ncfm__back.ncfm__back--1
        //- .ncfm__back.ncfm__back--1
        img(src="../../../assets/images/Ripped_White_Paper_8 6.png", style="transform: rotate(180deg);")
    .ncfm__content 
        h2.ncfm__title Как поступить
        .ncfm__block 
            .ncfm__item Приемная комиссия начинает принимать документы с конца июня. Вступительные экзамены в МГУ Саров проходят в конце июля. Чтобы поступить, нужно набрать проходной балл, который определяется по итогам конкурса абитуриентов на конкретное направление. По отзывам магистрантов, подготовка к вступительным им давалась по-разному. 
        .ncfm__quoting.ncfm__quoting--1.quoting
             .quoting__title Безумно рад, что <wbr>мой труд не прошел даром.
             .quoting__author Егор Андронов
        .ncfm__block
            .ncfm__item.ncfm__lead «Было непросто. Готовился понемногу, но довольно долго. Очень помогли госэкзамены, перед которыми пришлось все повторить, а что не знаю — доучить. И натренировать практические задания. Естественно, на вступительных все пошло не по плану. Задания, на которые особо “ставил”, не попались. Но я все же собрался с силами и решил свой вариант. Результат поразил меня самого, безумно рад, что мой труд не прошел даром»,
            .ncfm__item.ncfm__signature — рассказывает 
                strong Егор Андронов. 
                |А вот 
                strong Владиславу Филиппову,<wbr> 
                | по его словам, хватило порядка десяти дней, чтобы освежить теорию и несложные математические преобразования.
        .ncfm__quoting.ncfm__quoting--2.quoting
             .quoting__title Главное – подготовиться, натренироваться.
             .quoting__author Михаил Турбылев.
        .ncfm__block
            .ncfm__item.ncfm__signature Как рассказывает 
                strong Михаил Турбылев, 
                em экзамен не требует каких-то гениальных идей и решений, это проверка знаний и определенных навыков. Главное — подготовиться и натренироваться. Задания прошлых лет по всем направлениям можно посмотреть на сайте филиала.