section.experience
    .experience__container.container.grid
        .experience__left.scroll
            ul.experience__list
                each i in ["../../../assets/images/experience/1.jpg","../../../assets/images/experience/2.jpg"]
                    li.experience__plug
                        img(src=i)

        .experience__right 
            p.experience__text.lead Именно по таким специальностям готовят в новом филиале 
                strong МГУ в Сарове. 
                |И среди студентов там немало девушек. Naked Science поговорил с девушками-учеными об их опыте учебы в мужских коллективах и карьере в науке.

            small.experience__small(style="margin-top:24px") В 2009 году британская журналистка Сав Чарман-Андерсон, которая по сей день активно борется за признание женщин в технологических областях, предложила своим друзьям-блогерам выбрать самых влиятельных женщин в науке, технологиях, инженерии и математике. Через год участие в этом проекте приняли участие уже больше 2000 человек. 
            small.experience__small(style="margin-top:16px") А вскоре «День Ады Лавлейс» стали отмечать по всему миру, приурочивая к нему конференции, выставки в музеях, международные проекты и все ту же активность в Сети, с которой он когда-то и начался.
        .experience__science
            img(src="../../../assets/svg/science.svg")