section.impressions
    .impressions__green-square.green-square.green-square--left-bottom
    .impressions__container.container.grid
        .impressions__left
            h2.impressions__title Первые <wbr>впечатления
            .impressions__lead.lead
                strong В МГУ Саров 
                |готовят специалистов по физике, прикладной математике и фундаментальной информатике.

            p(style="margin-bottom:16px") В МГУ Саров готовят специалистов по физике, прикладной математике и фундаментальной информатике.
            strong(style="margin-bottom:8px") Общей сложности сегодня здесь учатся 107 студентов.

            ul.list 
                li.list-item Девушек среди них — около 35%.
                li.list-item 30 среди магистрантов.
                li.list-item 6 из 10 аспирантов.

        .impressions__right
            img(src="../../../assets/images/impressions/Image 01.jpg", draggable="false")
            img(src="../../../assets/images/impressions/Image 02.jpg", draggable="false")
                    
    img.impressions__svg(src="../../../assets/svg/impression/science-long.svg")