include ../interviewMixin.pug

+interviewMixin("interviews2", interviews2)
    .interviews2__title(style="opacity: 1") Мотивация для молодого поколения
    img.text-svg(src="../../../assets/svg/science-wave.svg", id="interviews2__wave")
