.ncfm.ncfm.texture
    //- .ncfm__background
    img.bg.bg__up(src="../../../assets/images/Ripped_White_Paper_8 6.png")
    img.ncfm__desc#ncfm-bomb(src="../../../assets/images/ncfm/bomb.png")
    //- img.bg.bg__down(src="../../../assets/images/Ripped_White_Paper_8 6.png", style="transform: rotate(180deg);")
        //- img(src="../../../assets/images/Ripped_White_Paper_8 14.png")
    img.ncfm__desc.ncfm__lines-desc(src="../../../assets/svg/ncfm/lines-desc.svg")
    .ncfm__content 
        h2.ncfm__title Школы НЦФМ
        .ncfm__block(style="padding-bottom: 40px") 
            .ncfm__item Познакомиться с преподавателями и научными руководителями и вообще «примерить» на себя учебу в Сарове можно на школах, которые устраивает Национальный центр физики и математики.
            .ncfm__item Сертификат участника этих мероприятий не дает преимуществ при поступлении: ни прохождения вне конкурса, ни дополнительных баллов. Тем не менее, насыщенная программа лекций и презентаций точно помогает освежить знания и разобраться в последних научных достижениях и открытиях. 
        .ncfm__block.ncfm__block--wopad.ncfm-image 
            img.ncfm__svg(src="../../../assets/svg/ncfm/lines.svg")
            img.ncfm__img.ncfm__img--desctop(src="../../../assets/images/ncfm/building.jpg", style="width: 70vw")
            img.ncfm__img.ncfm__img--mobile(src="../../../assets/images/ncfm/building-m.jpg")
        .ncfm__block
            h3.ncfm__title Среди спикеров много академиков РАН, научных руководителей студентов 
                strong МГУ Саров. 
            .ncfm__item В этом году состоялись школы по физике нейтрино и астрофизике, по физике высоких энергий и по лазерной физике. А в декабре пройдет еще одна — по моделированию и суперкомпьютерным вычислениям. Планируется, что эти мероприятия будут проводиться по всем направлениям развития НЦФМ.
            .ncfm__item Специализация
                strong «вычислительные методы и методика моделирования» 
                |подходит тем, кто хочет моделировать сложнейшие физические, технологические и природные процессы в самых разных областях, от наноэлектроники и генетики до изменений атмосферы и климата.