.not
    .not__green-square.green-square.green-square--left-top
    .not__container.container.grid 
        .not__left
            h2.not__title.title У российской науки не женское лицо?
            .not__lead.lead 
                strong Российская наука прочно ассоциируется с Ломоносовым, Менделеевым, Курчатовым, Сахаровым.
            p.not__text Из женщин в этом ряду лишь изредка появляется математик Софья Ковалевская. Впрочем, в международной науке ситуация не сильно лучше: вспоминают разве что Марию Кюри, Флоренс Найтингейл и Аду Лавлейс; лишь в самые последние года прогремели имена вроде Эмманюэль Шарпантье или Дженнифер Даудны. Что касается России, то здесь в любом случае не принято делить науку на женскую и мужскую.
        .not__right
            img.not__svg(src="../../../assets/svg/not/tor.svg")
            img(src="../../../assets/images/not.jpg")
            //- .not__image 