section.review
    .review__green-square1.green-square
    img.review__svg(src="../../../assets/svg/sarov-circle.svg")
    .review__container.container
        .review__green-square.green-square
        .review__left 
            img.review__img(src="../../../assets/images/couple.png")
        .review__right
            p.lead 
                strong Naked Science 
                |пообщался с молодым поколением девушек-ученых из филиала МГУ Саров: разговаривали о том, 
            ul.review__list.list
                li.list-item Есть ли неравенство в научной среде.
                li.list-item В российской науке — порядка 40%.
                li.list-item Среди докторов наук — примерно 25%.
                li.list-item Cуществуют ли «женские» качества.<wbr>помогающие в исследованиях.