section.stats
    .stats__top(style="--src:url('../../../assets/images/Ripped_White_Paper_8 6.png')")
    .stats__container.container.grid
        .green-square.green-square--left-bottom
        .stats__left
            p.lead Конкретной даты у «Дня Ады Лавлейс» нет — он привязан ко второму вторнику октября. Что касается более «официальных» праздников, в 2015 году организация ЮНЕСКО учредила Международный день женщин и девочек в науке — 
                strong 11 февраля.
                |  Эта дата стала более популярной, и Россия празднует ее со всем миром.
            p(style="margin-top: 24px") 
                strong По данным Института статистики ЮНЕСКО,в среднем в мире женщин среди  
                ul.stats__list 
                    li.list-item Исследователей — около 30%
                    li.list-item В российской науке — порядка 40%.
                    li.list-item Среди докторов наук — примерно 25%.
            p Конечно, статистика сильно зависит от направления: в психологии, химии и биологии женщин больше, чем в компьютерных областях. Официально получать высшее образование и делать карьеру в науке российским женщинам разрешили в 1911 году. К тому моменту в ней работали уже сотни женщин. С тех пор их количество многократно возросло.
        .stats__right
            img.stats__quotes(src="../../../assets/svg/interview/quotes.svg")
            .stats__caption ады лавлейс
            .stats__plug
                img.stats__science(src="../../../assets/svg/science-stats.svg")
                img.stats__lovelace(src="../../../assets/images/Lovelace.jpg" alt="Lovelace")
