.universiada.ncfm
    //- img.ncfm__desc#choice-science(src="../../../assets/svg/choice/science-circle.svg")
    img.ncfm__desc#universiada-formula(src="../../../assets/svg/universiada/a-xX.svg")
    .ncfm__content 
        h2.ncfm__title Универсиада — возможность поступить
            span(style="color: #126B89") <wbr> без экзаменов
        .ncfm__block 
            .ncfm__item МГУ Саров организует Универсиады по двум направлениям: «физика» и «прикладная математика и информатика». Они проходят в два этапа: отборочный и заключительный. Участие бесплатное, а 
                strong победа позволяет поступить в магистратуру без экзаменов. 
                | Победители «физики» могут выбрать любую из специализаций «физики», а вот победители «прикладной математики» — вообще любое направление.
        .ncfm__block#universiada-img
            img.ncfm__img.ncfm__shift.ncfm__img--desctop(src="../../../assets/images/universiada/universiada.png")
            img.ncfm__img.ncfm__shift.ncfm__img--mobile(src="../../../assets/images/universiada/universiada-m.png")
        .ncfm__block
           .ncfm__item Так по результатам Универсиады поступили саровчанки 
                strong Анастасия Чемшит
                | с «прикладной математики и информатики» и 
                strong Виталия Кулешова 
                | с «теоретической физики». Анастасия узнала об Универсиаде буквально за неделю до ее проведения, готовиться пришлось быстро: 
                strong «В основном темы были мне знакомы, на младших курсах в институте все проходили, оставалось только оживить в памяти материал». 
                | Степень бакалавра Анастасия получила в НИЯУ МИФИ.
        .ncfm__block.big-blue-square__root
            img.ncfm__desc#universiada-scrap(src="../../../assets/images/universiada/scrap.png")
            .ncfm__block.big-blue-square
                .ncfm__item Виталия, как она сама призналась, в первом этапе приняла участие только потому, что друзья предложили пойти с ними за компанию. Говорит, они не знали о льготах поступления, просто решили участвовать в мероприятии:
                .ncfm__item 
                    em «К первому этапу я отнеслась как к приятному времяпрепровождению. Ты сможешь без подготовки порешать задачки за весь курс и проверить саму себя? Насколько ты помнишь темы общей физики? Когда пришли результаты, поняла, что деваться некуда — нужно готовиться ко второму этапу». «Наверное, если бы мне тогда сказали, что Универсиада дает возможность поступить без экзаменов, я бы начала волноваться и написала бы хуже», — добавила она.
        .ncfm__block.direction 
            .direction__left
                .direction__value 14
                .direction__caption человек поступили по Универсиаде в этом году
            .direction__right
                img.direction__icon(src="../../../assets/svg/сurrriculum/icon.svg")
        .ncfm__block 
            .ncfm__item Что касается совета будущим участникам: «Хочу пожелать получить от этих трех часов максимум удовольствия, порешать интересные задачи и не бояться. В Универсиаде нет ничего такого, с чем нельзя справиться, если ты изучал физику. В основе там задачи из общей физики, и, наверное, для многих было сложнее всего вспомнить то, что проходили на первом курсе», — делится опытом Виталия.
            .ncfm__item В этом году по Универсиаде поступили 14 человек. Не все победители и призеры выбрали МГУ Саров. Некоторые пошли на другие факультеты МГУ. Участвовать в Универсиаде могут студенты всех курсов, но поступление без конкурса распространяется лишь на ближайшую приемную кампанию. Так в этом году среди победителей оказалось несколько третьекурсников. 
                strong Универсиада — возможность проверить знания и оценить силы.