section.up 
    .up__container
        .up__logo
            include ../../components/logo/logo.pug
        .up__content
            .up__left-side
                .up__title Фотоника, <wbr>аттосекундная физика, <wbr>суперкомпьютеры:
                .up__ticket новое поколение ученых готовят в МГУ Саров
                .up__text Открытый год назад филиал МГУ воплотил в себе лучшие черты современного академгородка: насыщенная программа обучения, возможности проведения экспериментов, преподаватели из РАН и научно-исследовательских центров, комфортное проживание и активная внеучебная студенческая жизнь.
            .up__right-side 
                img.up__svg(src="../../../assets/svg/mgu-sarov-square.svg")
                img.up__img(src="../../../assets/images/up/up.png")