.ncfm.virus
    img.ncfm__desc#virus-k-s(src="../../../assets/svg/virus/k-s.svg")
    .ncfm__content 
        .ncfm__block
            img#virus-paper(src="../../../assets/svg/virus/Paper.svg")
        .ncfm__block
            .ncfm__item По словам 
                strong Владислава Филиппова, 
                | <wbr>студента «теоретической физики», 
            .ncfm__item значительную роль в выборе сыграла активная и интересующая его учебная программа, тема научной работы и научный руководитель, с которым Владиславу повезло пообщаться еще до сдачи вступительных экзаменов.
        .ncfm__block#virus-virus
            img(src="../../../assets/images/virus/virus.png")
        