.footer__container.container
    .footer__left 
        .footer__logo
            include ../components/logo/logo.pug
        .footer__wrap
            p(style="margin-top:24px") ©2021, Naked Science. Все права защищены.
            p(style="margin-top:27px") Более подробную информацию о МГУ Саров вы можете найти на 
                a(href="#") официальном сайте
    .footer__right
        .socials 
            a(href="#")
                img(src="../../assets/svg/socials/telegram.svg", alt="telegram") 
            a(href="#")
                img(src="../../assets/svg/socials/vk.svg", alt="vk") 

    