include ./splides.pug

.main__container
    include ./sections/up.pug
    //- include ./sections/experience.pug
    //- include ./sections/stats.pug
    //- include ./sections/review.pug
    //- include ./sections/impressions.pug
    //- include ./sections/interviews.pug
    //- include ./sections/not.pug
    //- include ./sections/interviews1.pug
    //- include ./sections/approach.pug
    //- include ./sections/interviews2.pug
