include ./splides.pug

.main__container
    include ./sections/up.pug
    include ./sections/atmosphere.pug
    include ./sections/curriculum.pug
    include ./sections/virus.pug
    include ./sections/ncfm.pug
    include ./sections/choice.pug
    include ./sections/dowhat.pug

    include ./sections/universiada.pug
    include ./sections/comfort.pug
    include ./sections/blacksmith.pug
    //- include ./sections/impressions.pug
    //- include ./sections/interviews.pug
    //- include ./sections/not.pug
    //- include ./sections/interviews1.pug
    //- include ./sections/approach.pug
    //- include ./sections/interviews2.pug
